# --- CORE ML (CPU) ---
tensorflow==2.20.0
# No fijes keras ni protobuf: los trae TF en versiones correctas

# Numpy: deja que pip escoja una <3.0 compatible con TF 2.20
numpy<3

h5py
scipy
absl-py
gast
google-pasta
grpcio
opt-einsum
optree
libclang
ml-dtypes
namex

# --- APP ---
streamlit==1.38.0
pillow>=10,<12
requests
python-dateutil
pytz

# En cloud sin GUI:
opencv-python-headless
